@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis */
:root {
  /* Agro connect pallet */
  --primary-color: #122417;
  --secondary-color: #267224;
  --secondary-opacity: #27722442;
  --tertiary-color: #7abe55;
  --tertiary-opacity: #7abe5542;

  /* Utility colors */
  --red: #dd1133;

  /* Backgrounds */
  --background-color: #dddddd;
  --card-bg-green: rgb(155, 211, 123);
  --card-bg-red: rgb(226, 151, 151);
  --card-bg-blue: rgb(117, 146, 214);

  /* Texts */
  --text-color: #19191919;
  --text-light-color: #ffffff;
  --card-text-green: #267224;
  --card-text-red: #af1d1f;
  --card-text-blue: #0521ac;
}

/* Página financeiro */
.card-bg-green {
  background: radial-gradient(
    circle 300px at center,
    var(--tertiary-color),
    var(--secondary-opacity)
  );
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card-bg-red {
  background: radial-gradient(
    circle 300px at center,
    rgba(255, 0, 0, 0.3),
    rgba(226, 139, 139, 0.2)
  );
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card-bg-blue {
  background: radial-gradient(
    circle 300px at center,
    rgba(0, 0, 255, 0.3),
    rgba(113, 125, 233, 0.2)
  );
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card-text-green {
  color: var(--card-text-green) !important;
}
.card-text-red {
  color: var(--card-text-red);
}
.card-text-blue {
  color: var(--card-text-blue);
}

.card-icon {
  background-color: white;
}

.cards-container > * {
  flex: 1;
  box-sizing: border-box;
}

.border-color-green {
  border-color: rgb(137, 188, 136) !important;
}

.main-background-color {
  background-color: var(--background-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-secondary-opacity {
  background-color: var(--secondary-opacity) !important;
}

.bg-tertiary {
  background-color: var(--tertiary-color) !important;
}

.bg-tertiary-opacity {
  background-color: var(--secondary-opacity) !important;
}

.bg-green {
  background-color: var(--card-bg-green) !important;
}
.bg-red {
  background-color: var(--card-bg-red) !important;
}
.bg-blue {
  background-color: var(--card-bg-blue) !important;
}

.color-primary {
  color: var(--primary-color) !important;
}

.color-secondary {
  color: var(--secondary-color) !important;
}

.color-tertiary {
  color: var(--tertiary-color) !important;
}

/* ================================================
   Vendas & Calculadora
   ================================================ */

.card-bg-green {
  background: radial-gradient(
    circle 300px at center,
    var(--tertiary-color),
    var(--secondary-opacity)
  );
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card-bg-red {
  background: radial-gradient(
    circle 300px at center,
    rgba(255, 0, 0, 0.3),
    rgba(226, 139, 139, 0.2)
  );
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.card-bg-blue {
  background: radial-gradient(
    circle 300px at center,
    rgba(0, 0, 255, 0.3),
    rgba(113, 125, 233, 0.2)
  );
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.card-text-green {
  color: var(--card-text-green) !important;
}
.card-text-red {
  color: var(--card-text-red) !important;
}
.card-text-blue {
  color: var(--card-text-blue) !important;
}

.caixa-resumo {
  border: 2px solid var(--primary-color) !important;
  font-weight: 800 !important;
  border-radius: 16px !important;
  overflow: hidden;
}

.caixa-resumo .card-header {
  background-color: var(--tertiary-color) !important;
  color: var(--primary-color) !important;
  font-weight: 900 !important;
}

.caixa-resumo .card-body {
  background-color: #ffffff !important;
  color: var(--secondary-color) !important;
  font-weight: 900 !important;
}

.tabela-card {
  border: 2px solid var(--primary-color) !important;
  border-radius: 16px !important;
  overflow: hidden;
}

.tabela-card .card-header {
  background-color: #11410f !important;
  color: #ffffff !important;
  font-weight: 900;
}

.tabela-card thead {
  background-color: #82bb81 !important;
  color: var(--secondary-color) !important;
}

#btn-salvar {
  background-color: var(--secondary-color) !important;
  color: white !important;
  text-transform: uppercase !important;
  font-weight: 900 !important;
  border-radius: 14px !important;
}

